*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
}
#1st{
    display: flex;

}
.one{
    background-color: blue;
    width: 150px;
    padding: 35px;
    height: 100vh;
}
.form{
    background-color: aqua;
    width: 175px;
    height: 100vh;
    padding: 35px;
    margin-left: 87%;
    margin-top: -290px;
}
.as{
    background-color:brown ;
    width: 150px;
    padding: 35px;
    margin-top: -100px;
}